.chime-profile-header-container {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    width: 220px;
    padding: 10px 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(145deg, var(--secondary-background-color), var(--primary-background-color));
    color: white;

}

.chime-profile-header-navs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chime-profile-header-navs-item {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    cursor: pointer;
    transition: background 0.2s;
}

.chime-profile-header-navs-item:hover {
    background-color: var(--primary-btn-background-color)
}

.chime-profile-header-navs-icon {
    font-size: 18px;
    margin-right: 12px;
}

.chime-profile-header-navs-text {
    font-size: 15px;
    font-weight: 500;
}

.chime-logout {
    color: rgb(250, 168, 168);
}