@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  --primary-btn-background-color: #1b84fc;
  --secondary-btn-background-color: #df007e;
  --primary-btn-background-hover-color: #1e7fef;
  --primary-background-color: #191833;
  --secondary-background-color: #212137;
  --secondary-text-color: #dae9f0;
  --primary-text-color: #f0f2f5;
  --box-shadow-for-btn: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --little-color: #51516a;
  --primary-hover-color: #7a8084;
  --social-hover-glow: #df007e;
  --second-little-color: rgba(128, 128, 128, 0.055);
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  position: relative;
  min-height: 100vh;
}

#main {
  min-height: 90vh;
}

.active {
  color: var(--primary-btn-background-color);
}


